main {
    padding: 20px 50px;
}

.title-bar {
    display: flex;
    align-items: center;

}

.title {
    color: #3B4349;
    font-size: 22px;
    flex: 1;
}

.title span {
    margin: 0px 5px;
    color: #65E3FF;
}

.title-bar img {
    width: 30px;
    cursor: pointer;
    margin-left: 10px;
}

.title-bar img:hover {
    filter: brightness(0.9);
}

.word-list {
    margin-top: 20px;
}