main {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #3B4349;
}

h1 {
    font-size: 2.3rem;
    margin-bottom: 30px;
}

span {
    color: #65E3FF;
    margin: 3px;
}

p {
    color: #B3C0CC;
    font-size: 1.2rem;
    margin-bottom: 5px;
}

a {
    display: inline-block;
    margin-top: 30px;
    text-decoration: none;
}

.btn {
    height: 50px;
    width: 180px;
    background-color: #65E3FF;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    border-radius: 10px;
}

.btn:hover {
    background-color: #3B4349;
}